body{

}

article{
    float: left;
    margin: auto;
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: aqua;

}

.container{
    width: 250px;
    float: left;

.skills{
    margin: auto;

}

.footer{
    margin: 60;
    position: fixed;
}


/*css has broken me, i cannot understand why when i make changes nothing happens to my elements at all*/