/* CSS Comment */
/* This is a comment good stuff */


main article .underline {
    border-bottom: 1px solid black;
} 

main .underline {
    border-bottom: 1px solid red;
}


body {
    color: deeppink;
}

p {
    font-style: italic;
}

h1. h2 {
    font-family: Arial, Helvetica, sans-serif
} 

aside p {
    font-weight: bold;
} 

.big {
    font-size: 125%;
}

#small {
    font-size: 50%;
}  
/* Link Visit Hover Activate */
a:link {
    color:green;
}

a:visited {
    color: black;
}

a:hover {
    color:red;
}